<a routerLink="/">Home</a>

<h3>Add a new lead:</h3>
<div>
  <p *ngFor="let error of errors" class="error">
    {{ error }}
  </p>
</div>

<form (submit)="handleSubmit()">
  <div>
    <label>Name </label>
    <input type="text" name="name" [(ngModel)]="newMusic_Portfolio_Plan.name">
  </div>
  <div>
    <label>Description </label>
    <input type="text" name="description" [(ngModel)]="newMusic_Portfolio_Plan.description">
  </div>
  <div>
    <label>Notes </label>
    <input type="text" name="notes" [(ngModel)]="newMusic_Portfolio_Plan.notes">
  </div>
  <div>
    <label>Status </label>
    <input type="text" name="status" [(ngModel)]="newMusic_Portfolio_Plan.status">
  </div>
  <div>
    <label>Links </label>
    <input type="text" name="links" [(ngModel)]="newMusic_Portfolio_Plan.links">
  </div>
  <button type="button" (click)="handleCancel()">
    Cancel
  </button>
  <button>
    Submit
  </button>
</form>